/* custom stylesheet 
import bootstrap css file
*/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* my custom styles*/
.page-header{
	margin-top:0;
}

.panel-body{
	padding-top:0;
}

.fimg{
	margin-bottom:15px;
}

h1{
	color: #000000;
	font-size: 80px;
	text-align: center;
	  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}


@media (min-width: 1400px) {
    .container{
        max-width: 2500px;
        font-family: 'Raleway', sans-serif;
        
    }
}

.row1{
	width: 1350px;
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 17px;
     font-family: 'Raleway', sans-serif;
    
}

.jumbotron{ font-family: 'Raleway', sans-serif;
 background-color:mediumturquoise;
    color:white;}

.list-group{
font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h4,h5{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}


.btn{
    float: right;
  margin-top: -100px;
  margin-left: 120px;
  margin-right: 100px;
  width: 180px;
  height: 40px;  
    
}

.btn:hover{
    background-color:black;
    color: mediumturquoise; 
    
}

.btn{background-color:black;}
