/* custom stylesheet 
import bootstrap css file
*/

@import "bootstrap/css/bootstrap.css";
@import "bootstrap/css/bootstrap.min.css";


/* my custom styles*/
.page-header{
	margin-top:0;
}

.panel-body{
	padding-top:0;
}

.fimg{
	margin-bottom:15px;
}

h1{
	color: #000000;
	font-size: 70px;
	text-align: center;
	font-family: 'Poiret One', cursive;

}


@media (min-width: 1400px) {
    .container{
        max-width: 2000px;
        font-family: 'Raleway', sans-serif;
    }
}

.contentdiv{
	width: 390px;
	float: left;
	margin-left: 4px;
	margin-right: 10px;
	margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    
}

.contentdiv1{
	width: 390px;
	float: left;
	margin-left: 5px;
    font-family: 'Raleway', sans-serif;
    
}

.contentdiv6{
  width:800px;
    float: left;
    font-size:20px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: auto;
    font-family: 'Raleway', sans-serif;
}

.contentdiv7{
  width:800px;
    float: left;
    font-size:20px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: auto;
    font-family: 'Raleway', sans-serif;
}

.header1{
margin-left: 340px;
margin-top: 3px;
margin-bottom: 13px;
    font-family: 'Raleway', sans-serif;
}


.contentdiv8{
font-size:20px;
width:800px;
    font-family: 'Raleway', sans-serif;
    
}

h4{font-size:24px;}

.btn{
    float: right;
  margin-top: -170px;
  margin-left: 200px;
  margin-right: 300px;
  width: 180px;
  height: 40px;  
    
}

.btn:hover{
    background-color:black;
    color: mediumturquoise; 
    
}

.btn{background-color:black;}
